body {
    background: linear-gradient(to left, #7F8688, #929D9E);
    font: 14px/26px 'Bungee';
    color: #222;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #F3E367;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 1px
}

#calculator{
    padding-left: 20px;
}


input[type="text"] {
    padding: 5px 5px 8px 8px;
    font-size: 14px;
}

#serviceQuality{
    font-size: 15px;

}


button{

    display: block; /* This line puts the calculate button under the input form */
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    margin: 40px 75px ;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: #fff;
    background-color: #24a058;
    border: 1px solid #24a058;
    width: 150px;
    height: 50px;
    font-size: 17px;
}

button:hover,
button:active {

    background-color: #1e8449;

}

#result {
    font-size: 30px;
    padding-left: 100px;
    text-align: center;
}
